<% provide :title, t("home_title") %>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div><%= render "layouts/header" %></div>
  <div id="section1">
    <div class="col-sm-3">
      <%= render "layouts/leftmenu" %>
    </div>
    <div class="col-sm-9">
    <%= render "layouts/banner" %>
    </div>
  </div>
</body>
