<% provide :title, t("productindex") %>
<div class="">
  <%= will_paginate %>
  <ul class="products col-md-offset-1 td-index-prod", id="current-product">
    <%= render @products %>
    <div class="clearfix"></div>
  </ul>
  <%= will_paginate %>
</div>
<div class="clearfix"></div>
